.idea/*
target/*
video/*
galdata/*
log/*
web_old.xml
log4j.xml
._*
.DS_Store
src/main/java/mybatis/*
src/main/java/spring/*
src/main/webapp/WEB-INF/*.xml
src/main/webapp/WEB-INF/*.properties
server_properties/*
src/main/webapp/WEB-INF/static/bgm/*
src/main/webapp/WEB-INF/static/video/*
src/main/webapp/WEB-INF/static/voice/*
src/main/webapp/WEB-INF/static/font-awesome/*
src/main/webapp/WEB-INF/static/image/hatuyuki/*
3otakus_springmvc.iml
com.iml